{% extends "inventory/base.html" %}
{% load static %}
{% block title %}Edytuj Zamówienie{% endblock %}

{% block content %}
<div class="container py-4">
    <h1 class="page-title mb-4 text-center">Edytuj Zamówienie</h1>

    <form method="post" class="bg-white shadow-sm p-4 rounded" novalidate>
        {% csrf_token %}

        <!-- Szczegóły Zamówienia -->
        <fieldset class="mb-4">
            <legend class="fs-5 fw-bold">Szczegóły Zamówienia</legend>
            {{ form.as_p }}
        </fieldset>

        <!-- Pozycje Zamówienia -->
        <fieldset>
            <legend class="fs-5 fw-bold">Pozycje Zamówienia</legend>
            {{ formset.management_form }}
            <table class="table table-bordered" id="order-items-table">
                <thead>
                    <tr>
                        <th>Produkt</th>
                        <th>Ilość</th>
                        <th>Cena jednostkowa</th>
                        <th>Usuń</th>
                    </tr>
                </thead>
                <tbody>
                    {% for form in formset %}
                        {% if form.instance.pk or form.is_bound %}
                            <tr class="order-item-form">
                                <td data-label="Produkt">{{ form.oit_itmid }}</td>
                                <td data-label="Ilość">{{ form.oit_quantity }}</td>
                                <td data-label="Cena">{{ form.oit_price }}</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm remove-item-btn" aria-label="Usuń pozycję">
                                        <i class="bi bi-trash"></i>
                                    </button>
                                    {% if form.instance.pk %}
                                        <input type="hidden" name="{{ form.prefix }}-DELETE" id="id_{{ form.prefix }}-DELETE">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}

                </tbody>
            </table>
            <button type="button" class="btn btn-outline-secondary" id="add-item-btn">
                <i class="bi bi-plus-circle"></i> Dodaj Pozycję
            </button>
        </fieldset>

        <!-- Przyciski akcji -->
        <div class="d-flex flex-column flex-md-row justify-content-md-between gap-3 mt-4">
            <a href="{% url 'order_list' %}" class="btn btn-outline-secondary w-100 w-md-auto">
                <i class="bi bi-arrow-left-circle"></i> Powrót do listy
            </a>
            <button type="submit" class="btn btn-primary-custom w-100 w-md-auto">
                <i class="bi bi-save"></i> Zapisz Zmiany
            </button>
        </div>
    </form>

    <script src="{% static 'inventory/add_order.js' %}"></script>
</div>
{% endblock %}
